{% extends "base.html" %}

{% block title %}Réinitialisation{% endblock %}

{% block content %}

<div class="max-w-md mx-auto mt-10 p-6 bg-base-200 rounded-lg shadow-lg">

    <h1 class="text-2xl font-bold mb-6 text-center">Reset password | HelpDesk</h1>

    <form method="POST" class="space-y-4">
        {% csrf_token %}
        {{ form.email }}

        <button type="submit" class="btn btn-primary w-full">
            Réinitialiser
        </button>


        <a href="{% url "user_login" %}" class="btn btn-primary">
            Je n'ai pas oublié mon mot de passe
        </a>

    </form>

</div>

{% endblock %}
