# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
staticfiles/
media/

# Docker
.dockerignore
docker-compose.yml

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Misc
*.log
.DS_Store
